{% extends "../base-for-home.html" %}

{% load staticfiles %}

{% block title %}{{ user.username }}的草稿{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'accounts/home/drafts.css' %}">
{% endblock %}

{% block nav %}
<li role="presentation">
    <a href="{% url 'accounts:myhome' %}">动态</a>
</li>
<li role="presentation">
    <a href="{% url 'accounts:myposts' %}">文章</a>
</li>
<li role="presentation">
    <a href="{% url 'accounts:mycomments' %}">评论</a>
</li>
<li role="presentation">
    <a href="{% url 'accounts:myshare' %}">分享</a>
</li>
<li role="presentation" class="active">
    <a href="{% url 'accounts:mydrafts' %}">草稿</a>
</li>
<li role="presentation">
    <a href="{% url 'accounts:mycollects' %}">收藏</a>
</li>
{% endblock %}

{% block page_content %}
<ul>
    {% for post in drafts %}
    <li>
        <a href="{% url 'blog:edit' post.id %}" target="_blank">
            {{ post.title }}
        </a>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <time>
            {{ post.publish|date:'Y-m-d H:i' }}
        </time>
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block extra_script %}
    {{ block.super }}
{% endblock %}