{% extends "../base-for-home.html" %}

{% load staticfiles %}

{% block title %}{% endblock %}

{% block extra_head %}
    {{ block.super }}
{% endblock %}

{% block nav %}
 <li role="presentation" class="active">
    <a href="#">动态</a>
</li>
<li role="presentation">
    <a href="{% url 'accounts:myposts' %}">文章</a>
</li>
<li role="presentation">
    <a href="{% url 'accounts:mycomments' %}">评论</a>
</li>
<li role="presentation">
    <a href="#">分享</a>
</li>
{% if request.user == user %}
<li role="presentation">
    <a href="{% url 'accounts:mydrafts' %}">草稿</a>
</li>
<li role="presentation">
    <a href="#">收藏</a>
</li>
{% endif %}
{% endblock %}


{% block page_content %}

{% endblock %}

{% block extra_script %}
    {{ block.super }}
{% endblock %}