{% extends "../base-for-home.html" %}

{% load staticfiles %}

{% block title %}{{ user.username }}的动态{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'accounts/home/home.css' %}">
{% endblock %}


{% block nav %}
{% if request.user == user %}
<li role="presentation" class="active">
    <a href="{% url 'accounts:myhome' %}">动态</a>
</li>
<li role="presentation">
    <a href="{% url 'accounts:myposts' %}">文章</a>
</li>
<li role="presentation">
    <a href="{% url 'accounts:mycomments' %}">评论</a>
</li>
<li role="presentation">
    <a href="{% url 'accounts:myshare' %}">分享</a>
</li>
<li role="presentation">
    <a href="{% url 'accounts:mydrafts' %}">草稿</a>
</li>
<li role="presentation">
    <a href="{% url 'accounts:mycollects' %}">收藏</a>
</li>
{% else %}
<li role="presentation" class="active">
    <a href="{% url 'accounts:user_home' user.username %}">动态</a>
</li>
<li role="presentation">
    <a href="{% url 'accounts:user_posts' user.username %}">文章</a>
</li>
<li role="presentation">
    <a href="{% url 'accounts:user_comments' user.username %}">评论</a>
</li>
<li role="presentation">
    <a href="{% url 'accounts:user_share' user.username %}">分享</a>
</li>
{% endif %}
{% endblock %}


{% block page_content %}
<ul>
    {% for action in actions %}
    <li>
        <a href="{{ action.user.get_absolute_url }}">
            {{ action.user.username }}
        </a>
        {{ action.verb }}
        <a href="{{ action.target.get_absolute_url }}" target="_blank">
            {{ action.target }} 
        </a>
        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
        <time>{{ action.created|date:'Y-m-d H:i' }}</time>
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block extra_script %}
    {{ block.super }}
{% endblock %}