{% extends "../base-for-home.html" %}

{% load staticfiles %}

{% block title %}文章{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'accounts/home/posts.css' %}">
{% endblock %}

{% block nav %}
 <li role="presentation">
    <a href="#">动态</a>
</li>
<li role="presentation" class="active">
    <a href="{% url 'accounts:myposts' %}">文章</a>
</li>
<li role="presentation">
    <a href="{% url 'accounts:mycomments' %}">评论</a>
</li>
<li role="presentation">
    <a href="#">分享</a>
</li>
{% if request.user == user %}
<li role="presentation">
    <a href="{% url 'accounts:mydrafts' %}">草稿</a>
</li>
<li role="presentation">
    <a href="#">收藏</a>
</li>
{% endif %}
{% endblock %}

{% block page_content %}

    {% for post in posts %}
    <p>
        <a href="{{ post.get_absolute_url }}" target="_blank">
            {{ post.title }}
        </a>
        <small>
            {{ post.publish|date:'Y-m-d H:i' }}
        </small>
        <a href="{% url 'blog:edit' post.id %}" target="_blank">编辑</a>
    </p>
    {% endfor %}

{% endblock %}

{% block extra_script %}
    {{ block.super }}
{% endblock %}