{% extends "base.html" %}
{% load staticfiles %}

{% block title %}醉心客 - 主页{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'home/index.css' %}" />
{% endblock %}


{% block content %}

<div class="jumbotron">
   <div class="container">
      <p></p>
      <p>这是一个超大屏幕</p>
      <p>这是一个超大屏幕</p>
      <p>这是一个超大屏幕</p>
      <p>这是一个超大屏幕</p>
      <p>这是一个超大屏幕</p>
      <p>这是一个超大屏幕</p>
      <p>这是一个超大屏幕</p>
      <p>这是一个超大屏幕</p>
    

      <p><a class="btn btn-primary btn-lg" role="button">
         学习更多</a>
      </p>
   </div>
</div>

{% endblock %}


{% block extra_script %}
<script>
   var a = {{ l|safe }}
   
</script>
<script src="{% static 'home/home.js' %}"></script>
{% endblock %}