{% extends "../base-accounts-1.html" %}

{% load staticfiles %}
{% load static %}

{% block title %}个人中心{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'accounts/myhome.css' %}">
{% endblock %}

{% block nav-ul %}
<li class="active"><a href="{% url 'accounts:myhome' %}">我的主页</a></li>
<li><a href="{% url 'accounts:myposts' %}">我的文章</a></li>
<li><a href="#">我的评论</a></li>
<li><a href="#">我的分享</a></li>
<li><a href="#">我的收藏</a></li>
<li><a href="#">我的关注</a></li>
<li><a href="#">我的粉丝</a></li>
{% endblock %}

{% block page_content %}

    {{ user.username }}

{% endblock %}


{% block extra_script %}
    {{ block.super }}
{% endblock %}