{% extends "base.html" %}

{% block title %}醉心客 - 登录{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-9 col-lg-9">
   1、说话不要有攻击性，不要有杀伤力，不夸已能，不扬人恶，自然能化敌为友。 

    2、一个常常看别人缺点的人，自己本身就不够好，因为他没有时间检讨他自己。 

    3、是非天天有，不听自然无，是非天天有，不听还是有，是非天天有，看你怎么办？

    4、如果你真的爱他，那么你必须容忍他部份的缺点。

    5、要克服对死亡的恐惧，你必须要接受世上所有的人都会死去的观念。 

    6、虽然你讨厌一个人，但却又能发觉他的优点好处，像这样子有修养的人，天下真是太少了。 

    7、诚实的面对你内心的矛盾和污点，不要欺骗你自己。 

    8、因果不曾亏欠过我们什么，所以请不要抱怨。 

    9、我们确实有如是的优点，但也要隐藏几分，这个叫做涵养。 

    10、人之所以痛苦，在于追求错误的东西。 
         
    11、当你快乐时，你要想，这快乐不是永恒的。当你痛苦时你要想这痛苦也不是永恒的。 

    12、认识自己，降伏自己，改变自己，才能改变别人。 

    13、不要浪费你的生命，在你一定会后悔的地方上。 

    14、你什么时候放下，什么时候就没有烦恼。    1、说话不要有攻击性，不要有杀伤力，不夸已能，不扬人恶，自然能化敌为友。 

    2、一个常常看别人缺点的人，自己本身就不够好，因为他没有时间检讨他自己。 

    3、是非天天有，不听自然无，是非天天有，不听还是有，是非天天有，看你怎么办？

    4、如果你真的爱他，那么你必须容忍他部份的缺点。

    5、要克服对死亡的恐惧，你必须要接受世上所有的人都会死去的观念。 

    6、虽然你讨厌一个人，但却又能发觉他的优点好处，像这样子有修养的人，天下真是太少了。 

    7、诚实的面对你内心的矛盾和污点，不要欺骗你自己。 

    8、因果不曾亏欠过我们什么，所以请不要抱怨。 

    9、我们确实有如是的优点，但也要隐藏几分，这个叫做涵养。 

    10、人之所以痛苦，在于追求错误的东西。 
         
    11、当你快乐时，你要想，这快乐不是永恒的。当你痛苦时你要想这痛苦也不是永恒的。 

    12、认识自己，降伏自己，改变自己，才能改变别人。 

    13、不要浪费你的生命，在你一定会后悔的地方上。 

    14、你什么时候放下，什么时候就没有烦恼。    1、说话不要有攻击性，不要有杀伤力，不夸已能，不扬人恶，自然能化敌为友。 

    2、一个常常看别人缺点的人，自己本身就不够好，因为他没有时间检讨他自己。 

    3、是非天天有，不听自然无，是非天天有，不听还是有，是非天天有，看你怎么办？

    4、如果你真的爱他，那么你必须容忍他部份的缺点。

    5、要克服对死亡的恐惧，你必须要接受世上所有的人都会死去的观念。 

    6、虽然你讨厌一个人，但却又能发觉他的优点好处，像这样子有修养的人，天下真是太少了。 

    7、诚实的面对你内心的矛盾和污点，不要欺骗你自己。 

    8、因果不曾亏欠过我们什么，所以请不要抱怨。 

    9、我们确实有如是的优点，但也要隐藏几分，这个叫做涵养。 

    10、人之所以痛苦，在于追求错误的东西。 
         
    11、当你快乐时，你要想，这快乐不是永恒的。当你痛苦时你要想这痛苦也不是永恒的。 

    12、认识自己，降伏自己，改变自己，才能改变别人。 

    13、不要浪费你的生命，在你一定会后悔的地方上。 

    14、你什么时候放下，什么时候就没有烦恼。    1、说话不要有攻击性，不要有杀伤力，不夸已能，不扬人恶，自然能化敌为友。 

    2、一个常常看别人缺点的人，自己本身就不够好，因为他没有时间检讨他自己。 

    3、是非天天有，不听自然无，是非天天有，不听还是有，是非天天有，看你怎么办？

    4、如果你真的爱他，那么你必须容忍他部份的缺点。

    5、要克服对死亡的恐惧，你必须要接受世上所有的人都会死去的观念。 

    6、虽然你讨厌一个人，但却又能发觉他的优点好处，像这样子有修养的人，天下真是太少了。 

    7、诚实的面对你内心的矛盾和污点，不要欺骗你自己。 

    8、因果不曾亏欠过我们什么，所以请不要抱怨。 

    9、我们确实有如是的优点，但也要隐藏几分，这个叫做涵养。 

    10、人之所以痛苦，在于追求错误的东西。 
         
    11、当你快乐时，你要想，这快乐不是永恒的。当你痛苦时你要想这痛苦也不是永恒的。 

    12、认识自己，降伏自己，改变自己，才能改变别人。 

    13、不要浪费你的生命，在你一定会后悔的地方上。 

    14、你什么时候放下，什么时候就没有烦恼。 
        </div>
        <div class="col-md-3 col-lg-3">
            <div class="well well-lg">
            <h3>登录</h3>
            <form action="" method="post" class="form-horizonta" role="form">
                {% csrf_token %}

                {% for field in form %}
                <div class="form-group">
                    {{ field.errors }}
                    <div class="row">
                        <div class="col-md-3 col-lg-3">
                            {{ field.label_tag }}
                        </div>
                        <div class="col-md-6 col-lg-6">
                            {{ field }} 
                        </div>
                    </div>
                </div>
                {% endfor %}

                <div class="row ">
                    <div class="col-md-4 col-lg-4">
                        <input type="hidden" name="next" value="{{ next }}">
                        <button type="submit" value="Log-in">登录</button>
                    </div>

                    {% if form.errors %}
                    <div class="col-md-8 col-lg-8">
                        <p>用户名或者密码错误</p>
                    </div>
                    {% endif %}
                </div>

                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <a href="{% url "password_reset" %}">忘记密码</a>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <a href="{% url "register" %}">注册</a>
                    </div>
                </div>

            </form>
            </div>
        </div>
    </div>
</div>
{% comment %}
<div class="social">
 <ul>
 <li class="facebook"><a href="{% url 'social:begin' 'github' %}">Sign in with Facebook</a></li>
 </ul>
</div>
{% endcomment %}

{% endblock %}

    


