{% extends "base.html" %}

{% block title %}修改密码{% endblock %}

{% block content %}

<div class="container">

<h3>修改密码</h3>
<br />
<br /><br />
<br />

<form method="post">
    {% csrf_token %}
  {% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
    </div>
{% endfor %}

    <div class="form-group">
   
        <!--
        <div class="row">
            <div class="col-md-2 col-lg-2">
                {{ field.label_tag }}
            </div>
            <div class="col-md-2 col-lg-2">
                {{ field }} 
            </div>
        </div> -->
    </div>
    <button type="submit" value="Change">修改密码</button> 
</form>
{% if form.errors %}
    {{ form.errors }}
{% endif %}

</div>

<br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br />
{% endblock %}