{% extends "base.html" %}

{% block title %}修改密码{% endblock %}

{% block content %}

<div class="container">
<br />
    <div class="row">
        <div class="col-md-2 col-lg-2">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="{% url 'dashboard' %}">个人中心</a></li>
                <li><a href="{% url 'edit' %}">编辑资料</a></li>
                <li class="active"><a href="{% url 'password_change' %}">修改密码</a></li>
            </ul>
        </div>

        <div class="col-md-10 col-lg-10">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                    </div>

                    {% endfor %}
            </form>
        </div>
    </div>
</div>
{% endblock %}