
.breadcrumb {
	background-color: transparent;
}

/*carousel*/
#carousel-example-generic img {
	width: 100%;
	height: 200px;
}

/*公告栏*/
.report {
	background: ;
    border: 1px dotted #000000;
	border-radius: 0 15px 15px 0;
    box-shadow: 10px 10px 5px rgba(83, 83, 93, 0.8);
    height:200px;
    color: #000;
}

.report h2,
.aside h2 {
	color: #514649;
	text-align: center;
}

.report a,
.aside a {
	color: #272822;
	font-size: 2rem;
}

/*侧边栏*/
.aside {
	margin-top: 20px;
    border: 1px dotted #000000;
	border-radius: 0 10px 10px 0;
    box-shadow: 10px 10px 5px rgba(83, 83, 93, 0.8);
    color: #000;
}

.aside .nav li a {
}

.post-comment-content {
	font-size: 1em;
	overflow: hidden;
	padding-left: 15px;
}

.post-comment-content li {
	
}

/*所有模块的背景颜色*/
.aside,
.report,
article {
	background: rgba(255,255,255, 0.5);
}


/*博文*/
article {
	color: #000;
	font-size: 2rem;
	margin: 10px 0 10px 0;
	padding: 0 15px 20px 15px;
	border: 1px dotted #000000;
    border-radius: 25px 0 0 25px;
    box-shadow: 10px 10px 5px rgba(83, 83, 93, 0.8);
}

/*标题*/
article .title {
	overflow: hidden;
}
.title a {
	font-size: 3rem;
	color: black;
	text-shadow: 2px 2px 5px #000;
	text-decoration: blink;
}


p.author {
	font-style: italic;
	font-size: 1.8rem
}

article p {
	text-indent: 2em;
}

.tags {
	font-size: 1.5rem;
	margin: 0 3px;
}

/*.title:link    { color: black }    /* unvisited links */
.title a:visited { color: #514649 }   /* visited links   */
.title a:hover   { color: lightgray } /* user hovers     */
.title a:active  { color: lime }   /* active links    */

