.breadcrumb {
	background-color: transparent;
}

/*标题*/
.title {
	font-size: 3.5rem;
	color: #000;
	font-weight: bold;
}

/*作者*/
.author {
	font-size: 2rem;
	color: #000;
}
/*标签大小 用badge的话不能改变大小*/
span.label {
	font-size: 18px;
	margin: 0 3px;
}

/*文章正文*/
article {
	line-height: 1.5em;
	color: #000;
	font-size: 2rem;
	margin: 10px 0 30px 0;
	background-color: rgba(255,255,255,0.5);
	padding: 10px;
}

/*附加内容*/
.extra {
	text-align: right;
	font-size: 2rem;
}
.extra button {
	background-color: rgba(255,255,255,0.4);
}
.extra button,
.extra .badge {
	font-size: 2rem;
}

/*评论栏*/
.comment .media{
	margin: 10px 20px 10px 20px;
	padding: 10px 10px;
	font-size: 20px;
	background-color: rgba(255,255,255,0.2);
}
.comment img {
	width: 50px; 
	height: 50px;
	opacity: 0.8;
}

.comment .media .media-left.media-top a {
	color: #fff;
}
.comment small {
	color: #fff;
}
.comment .media-body {
	color: #000;
}

/*添加评论*/
.add-comment h1 {
	font-size: 2.5rem;
	color: #000;
}
.add-comment textarea {
	background: rgba(255,255,255,0.2);
	font-size: 2rem;
	color: rgb(0,0,0);
}