/*
#woca1 {
	width: 500px
}
*/


input.form-control,
select.form-control {
	color: rgb(0,0,0);
	background-color: rgba(255,255,255,0.5);
	font-size: 20px;
}

/* 富文本编辑器的 */
#woca {
	height: 500px;
}

label {
	font-size: 2.5rem;
	color: #fff;
}
#help{
	font-size: 1.5rem;
}