{% extends "base.html" %}

{% load staticfiles %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'accounts/base-for-home.css' %}">
{% endblock %}

{% block content %}
<!--
<section class="jumu">
    
</section>
-->

<div class="container">
    <div class="row">
        <section class="profile">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <img src="{{ user.profile.photo.url }}">
            </div>
            <div class="col-sm-7 col-md-7 col-lg-7">
                <ul>
                    <li>{{ user.username }}</li>
                    <li>{{ user.profile.nickname }}</li>
                    <li>{{ user.profile.website }}</li>
                </ul>
            </div>
            
            <div class="col-sm-3 col-md-3 col-lg-3">
            {% if request.user == user %}
                <li><a href="{% url 'accounts:edit' %}">修改资料</a></li>
                <li><a href="{% url 'accounts:mydrafts' %}">我的草稿</a></li>
                <li><a href="{% url 'accounts:edit' %}">我的收藏</a></li>

            {% else %}
                <a href="#">查看详细资料</a>  <br />
                <a href="#">发送私信</a>  <br />

                <a href="#" data-id="{{ user.id }}" data-action="{% if request.user in user.followers.all %}un{% endif %}follow" class="follow btn btn-success">
                    {% if request.user not in user.followers.all %}
                        关注
                    {% else %}
                        取消关注
                    {% endif %}
                </a>

            {% endif %}
            </div>
            
        </section>
    </div>

    <div class="row under-profile">
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <section class="nav-under-profile">
                        <ul class="nav nav-tabs">
                            {% block nav %}
                            <li role="presentation">
                                <a href="#">动态</a>
                            </li>
                            <li role="presentation">
                                <a href="{% url 'accounts:myposts' %}">文章</a>
                            </li>
                            <li role="presentation">
                                <a href="{% url 'accounts:mycomments' %}">评论</a>
                            </li>
                            <li role="presentation">
                                <a href="#">分享</a>
                            </li>
                    
                            {% if request.user == user %}
                            <li role="presentation">
                                <a href="{% url 'accounts:mydrafts' %}">草稿</a>
                            </li>
                            <li role="presentation">
                                <a href="#">收藏</a>
                            </li>
                            {% endif %}
                            {% endblock %}
                        </ul>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    {% block page_content %}

                    {% endblock %}
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-md-3 col-lg-3">
            <aside class="follow-block">
                {% with total_following=user.following.count %}
                    正在关注 
                    <span id='followimg-count'>
                        {{ total_following }}
                    </span>
                {% endwith %}

                <br />

                {% with total_followers=user.followers.count %}
                    关注者 
                    <span id='follower-count'>
                        {{ total_followers }}
                    </span>
                {% endwith %}
            </aside>
        </div>

    </div>


</div>


{% endblock %}

{% block extra_script %}
    <script>
        $.ajaxSetup({
            //data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
            headers: {"X-CSRFToken": '{{ csrf_token }}'}
        });
    </script>

    <script src="{% static 'accounts/base-for-home.js' %}"></script>
{% endblock %}