{% extends "base.html" %}

{% load staticfiles %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'accounts/base-accounts-3.css' %}">
{% endblock %}

{% block content %}
<!--
<section class="jumu">
    
</section>
-->

<div class="container">
    <div class="row">
        <section class="profile">
            <div class="col-sm-3 col-md-3 col-lg-3">
                <img src="{{ user.profile.photo.url }}">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <ul>
                    <li>{{ user.username }}</li>
                    <li>{{ user.profile.nickname }}</li>
                    <li>{{ user.profile.website }}</li>
                </ul>
            </div>
            
            <div class="col-sm-3 col-md-3 col-lg-3">
            {% if request.user == user %}
                <a href="{% url 'accounts:edit' %}">修改资料</a>
            {% else %}
                查看详细资料 <br />
                关注<br />
                发私信
            {% endif %}
            </div>
            
        </section>
    </div>

    <div class="row under-profile">
        <div class="col-sm-9 col-md-9 col-lg-9">
            <section>
                <ul class="nav nav-tabs" id="nav-under-profile">
                    <li role="presentation"><a href="#">动态</a></li>
                    <li role="presentation"><a href="#">文章</a></li>
                    <li role="presentation"><a href="#">评论</a></li>
                    <li role="presentation"><a href="#">分享</a></li>
                </ul>
            </section>
            
        </div>

        <div class="col-sm-3 col-md-3 col-lg-3">
            <aside class="follow-block">
                正在关注 <br />
                关注者 <br />
            </aside>
        </div>

    </div>

</div>

{% block page_content %}

{% endblock %}



{% endblock %}

{% block extra_script %}
    <script src="{% static 'accounts/base-accounts-3.js' %}"></script>
{% endblock %}