{% extends "base.html" %}

{% block title %}编辑资料{% endblock %}

{% block content %}
<div class="container">
<br />
    <div class="row">
        <div class="col-md-2 col-lg-2">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="{% url 'accounts:profile' %}">个人中心</a></li>
                <li class="active"><a href="{% url 'accounts:edit' %}">编辑资料</a></li>
                <li><a href="{% url 'accounts:password_change' %}">修改密码</a></li>
                <li><a href="#">帐号关联</a></li>
            </ul>
        </div>

        <div class="col-md-10 col-lg-10">
            <h1>编辑资料</h1>
            <form action="" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
                {% csrf_token %}


                <!--
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
                
                {% for field in profile_form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
                -->


                <div class="form-group">
                    <label for="{{ user_form.username.id_for_label }}" class="col-sm-1 col-md-1 col-lg-1 control-label">帐 号</label>
                    <div class="col-sm-11 col-md-11 col-lg-11">
                        {{ user_form.username }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ user_form.email.id_for_label }}" class="col-sm-1 col-md-1 col-lg-1 control-label">邮 箱</label>
                    <div class="col-sm-11 col-md-11 col-lg-11">
                        {{ user_form.email }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ profile_form.nickname.id_for_label }}" class="col-sm-1 col-md-1 col-lg-1 control-label">昵 称</label>
                    <div class="col-sm-11 col-md-11 col-lg-11">
                        {{ profile_form.nickname }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ profile_form.phone.id_for_label }}" class="col-sm-1 col-md-1 col-lg-1 control-label">手 机</label>
                    <div class="col-sm-11 col-md-11 col-lg-11">
                        {{ profile_form.phone }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ profile_form.website.id_for_label }}" class="col-sm-1 col-md-1 col-lg-1 control-label">网 站</label>
                    <div class="col-sm-11 col-md-11 col-lg-11">
                        {{ profile_form.website }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ profile_form.birthday.id_for_label }}" class="col-sm-1 col-md-1 col-lg-1 control-label">生 日</label>
                    <div class="col-sm-11 col-md-11 col-lg-11">
                        {{ profile_form.birthday }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ profile_form.photo.id_for_label }}" class="col-sm-1 col-md-1 col-lg-1 control-label">头 像</label>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        {{ profile_form.photo }}
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <img src="{{ request.user.profile.photo.url }}" width="100px" height="100px">
                    </div>
                        
                </div>

                

                <button type="submit">提交</button>
                
                <div class="row">
                    <div class="col-sm-12">
                    {% if messages %}

                        {% for message in messages %}
                        <div class="alert alert-warning">
                            <button type="button" class="close" data-dismiss="alert">
                                &times;
                            </button>
                            {{ message }}
                        </div>
                        {% endfor %}
                    
                    {% endif %}
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}