{% extends "base.html" %}
{% load staticfiles %}

{% block title %}醉心客 - 登录{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'accounts/login.css' %}" />
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8">
            <section class="login">
                <br /><br /><br /><br /><br /><br />
            </section>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
            <section class="login">
                {% if request.user.is_authenticated %}
                
                <p class='login-opposite'>
                    说话不要有攻击性，不要有杀伤力，不夸已能，不扬人恶，自然能化敌为友
                </p>

                {% else %}
                <h1 class="text-center denglu">登录</h1>
                <form action="" method="post" class="form-horizontal" role='form'>
                    <!--
                    {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                    {% endfor %}
                    -->
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="{{ form.username.id_for_label }}" class="col-sm-3 control-label">帐 号</label>
                        <div class="col-sm-9">
                            {{ form.username }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="{{ form.password.id_for_label }}" class="col-sm-3 control-label">密 码</label>
                        <div class="col-sm-9">
                            {{ form.password }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-3">
                            <input type="checkbox"> 记住
                        </div>
                        <div class="col-sm-5">
                            <input type="hidden" name="next" value="{{ next }}">
                            <button type="submit" class="btn btn-primary">登录</button>
                        </div>
                    </div>
                </form>

                <div class="row">
                    <div class="col-sm-4 col-sm-offset-3">
                        <a href="#">忘记密码</a>
                    </div>
                    <div class="col-sm-4">
                        <a href="{% url 'accounts:register' %}">注册帐号</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4 col-sm-offset-3">
                        <a href="{% url 'accounts:github_login' %}" target="_blank" title="Github">
                            <img src="{% static 'img/github.jpg' %}" width=50px height="30px">
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-warning">
                            <button type="button" class="close" data-dismiss="alert">
                                &times;
                            </button>
                            {{ message }}
                        </div>
                        {% endfor %}
                    {% else %}
                        <br /><br /><br /><br />
                    {% endif %}
                    </div>
                </div>
                {% endif %}
            </section>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_script %}
    <script src="{% static 'accounts/login.js' %}"></script>
{% endblock %}