{% extends "./base-accounts-1.html" %}

{% load staticfiles %}
{% load static %}

{% block title %}修改密码{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'accounts/edit.css' %}">
{% endblock %}


{% block nav-ul %}
<li><a href="#">我的主页</a></li>
<li><a href="{% url 'accounts:profile' %}">个人中心</a></li>
<li><a href="{% url 'accounts:edit' %}">编辑资料</a></li>
<li class="active"><a href="{% url 'accounts:password_change' %}">修改密码</a></li>
<li><a href="#">帐号关联</a></li>
{% endblock %}


{% block page_content %}
<div class="row">
    <div class="col-md-10 col-lg-10">
        <h3>修改密码</h3>
        <form action="" method="post" class="form-horizontal" role="form">
            {% csrf_token %}
            <!--
                {% for field in user_form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}

                {% for field in profile_form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
            -->
            <div class="form-group">
                <label for="{{ form.old_password.id_for_label }}" class="col-sm-2 col-md-2 col-lg-2 control-label">旧密码</label>
                    <div class="col-sm-10 col-md-10 col-lg-10">
                        {{ form.old_password }}
                    </div>
            </div>
            <div class="form-group">
                <label for="{{ form.new_password.id_for_label }}" class="col-sm-2 col-md-2 col-lg-2 control-label">新密码</label>
                    <div class="col-sm-10 col-md-10 col-lg-10">
                        {{ form.new_password }}
                    </div>
            </div>
            <div class="form-group">
                <label for="{{ form.new_password2.id_for_label }}" class="col-sm-2 col-md-2 col-lg-2 control-label">确认密码</label>
                    <div class="col-sm-10 col-md-10 col-lg-10">
                        {{ form.new_password2 }}
                    </div>
            </div>
            <div class="row">
                <div class="col-sm-1 col-sm-offset-5">
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </div>
            {% if form.errors %}
                    {{ form.errors }}
            {% endif %}

            {% if messages %}
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <ul class="messages">
                        {% for message in messages %}
                        <li class="{{ message.tags }}">
                            {{ message|safe }}
                            <a href="#" class="close">✖</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
            <br /><br /><br />


        </form>
    </div>
</div>

{% endblock %}