{% extends "./base_accounts.html" %}

{% load staticfiles %}
{% load static %}

{% block title %}个人中心{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'accounts/profile.css' %}">
{% endblock %}

{% block nav-ul %}
<li><a href="#">我的主页</a></li>
<li class="active"><a href="{% url 'accounts:profile' %}">个人中心</a></li>
<li><a href="{% url 'accounts:edit' %}">编辑资料</a></li>
<li><a href="{% url 'accounts:password_change' %}">修改密码</a></li>
<li><a href="#">帐号关联</a></li>
{% endblock %}

{% block page_content %}
<div class="row">
    <section class="profile">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <img src="{{ profile.photo.url }}" alt="XXX" class="img-thumbnail">
        </div>
        <div class="col-sm-8 col-md-8 col-lg-8">
            <ul>
                <li>用户名: {{ profile.user.username }}</li>
                <li>昵称: {{ profile.nickname }}</li>
                <li>最后登录: {{ profile.user.last_login|date:'Y-m-d H:i' }}</li>
                <li>注册时间: {{ profile.user.date_joined|date:'Y-m-d H:i' }}</li>
                {% with total_images_created=request.user.images_created.count %}
                <li>
                    image{{ total_images_created|pluralize }}: {{ total_images_created }}
                </li>
                {% endwith %}
                <li>
                    将下面的按钮添加为浏览器的书签，打开其他网站后点击其 -->
                        <a href="javascript:{% include 'bookmarklet_launcher.js' %}" class="button">
                            <button class="btn btn-success">Bookmark it</button>
                        </a>
                </li>

                {% if messages %}
                <li>
                    <ul class="messages">
                        {% for message in messages %}
                        <li class="{{ message.tags }}">
                            {{ message|safe }}
                            <a href="#" class="close">✖</a>
                        </li>
                        {% endfor %}
                    </ul>
                {% endif %} 
            </li>
            </ul>
        </div>
    </section>
</div>
    
<div class="row">
    <section class="blog">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <h3>发表文章</h3>
            <ul>
                {% for post in posts %}
                <li>
                    <a href="{{ post.get_absolute_url }}" target="_blank">
                        {{ post.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <section class="comment">
        <div class="col-md-5 col-lg-5">
            <h3>发表评论</h3>
            <ul>
                {% for comment in comments %}
                <li>
                    <a href="{{ comment.post.get_absolute_url }}" target="_blank">
                        {{ comment.post.title }}
                    </a>
                    {{ comment.body }}
                </li>
            {% endfor %}
            </ul>
        </div>
    </section>
</div>


{% endblock %}


{% block extra_script %}
    {{ block.super }}
    <script src="{% static 'accounts/profile.js' %}"></script>
{% endblock %}