{% extends "../base-for-admin.html" %}

{% load staticfiles %}
{% load static %}

{% block title %}账户管理{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'accounts/admin/profile.css' %}">
{% endblock %}

{% block nav-ul %}
<li class="active"><a href="{% url 'accounts:profile' %}">个人资料</a></li>
<li><a href="{% url 'accounts:edit' %}">修改资料</a></li>
<li><a href="{% url 'accounts:password_change' %}">修改密码</a></li>
<li><a href="#">帐号关联</a></li>
<li><a href="{% url 'accounts:user_setting' %}">设置</a></li>
{% endblock %}

{% block page_content %}
<div class="row">
    <section class="profile">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <img src="{{ profile.photo.url }}" alt="XXX" class="img-thumbnail">
        </div>
        <div class="col-sm-8 col-md-8 col-lg-8">
            <ul>
                <li>
                    <span>用户名</span>
                    {{ profile.user.username }}
                </li>
                <li>
                    <span>昵称</span>
                    {{ profile.nickname }}
                </li>
                <li>
                    <span>邮箱</span>
                    {{ profile.user.email }}
                </li>

                <li>
                    <span>个人网站</span>
                    {{ profile.website }}
                </li>
                <li>
                    <span>最后登录</span>
                    <time> 
                        {{ profile.user.last_login|date:'Y-m-d H:i' }}
                    </time>
                </li>
                <li>
                    <span>注册时间</span>
                    <time> 
                        {{ profile.user.date_joined|date:'Y-m-d H:i' }}
                    </time>
                </li>
                <li>
                    <span>个性签名</span>
                    {{ profile.introduce }}
                </li>
            </ul>
        </div>
    </section>
</div>
 
{% endblock %}


{% block extra_script %}
    {{ block.super }}
    <script src="{% static 'accounts/profile.js' %}"></script>
{% endblock %}