{% extends "../base-for-admin.html" %}

{% load staticfiles %}

{% block title %}设置中心{% endblock %}

{% block nav-ul %}
<li><a href="{% url 'accounts:profile' %}">个人资料</a></li>
<li><a href="{% url 'accounts:edit' %}">修改资料</a></li>
<li><a href="{% url 'accounts:password_change' %}">修改密码</a></li>
<li><a href="#">帐号关联</a></li>
<li class="active"><a href="{% url 'accounts:user_setting' %}">设置</a></li>
{% endblock %}

{% block page_content %}
    <form action="" method="post" role="form">
        {% csrf_token %}
        <label for="{{ form.setting.id_for_label }}">
            编辑器
        </label>
        {{ form.setting }}

        <br />

        <label for="{{ form.domain.id_for_label }}">
            个性域名
        </label>
        {{ form.domain }}

        <br />
        
        <button type="submit" class="btn btn-primary">提交</button>
    </form>

    <div class="col-sm-6">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">
                &times;
            </button>
            {{ message }}
        </div>
        {% endfor %}
                    
    {% endif %}
    </div>

{% endblock %}