<nav>
    <ul class="pagination">
    {% if page.has_previous %}
        <li>
            <a href="?page={{ page.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
    {% else %}
        <li class="disabled">
            <a aria-label="Previous">  <!-- 记得把href去掉，要不然报错 -->
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
    {% endif %}

    {% for p in page.paginator.page_range %}

        {% if p == page.number %}
        <li class="active"><a title='当前:{{ p }}'>{{ p }}</a></li>
        {% else %}
        <li><a href='?page={{ p }}' title='{{ p }}'>{{ p }}</a></li>
        {% endif %}

    {% endfor %}

    {% if page.has_next %}
    <li>
        <a href="?page={{ page.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
    {% else %}
    <li class="disabled">
        <a aria-label="Previous">  <!-- 记得把href去掉，要不然报错 -->
            <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
    {% endif %}
    </ul>
</nav>
