<nav>
    <ul class="pagination">
        
        {% if page.has_previous %}
        <li>
            <a href="?page=1" aria-label="Previous">
                <span aria-hidden="true">首页</span>
            </a>
        </li>

        <li>
            <a href="?page={{ page.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">上一页</span>
            </a>
        </li>
        {% else %}
        <li class="disabled">
            <a href="?page=1" aria-label="Previous">
                <span aria-hidden="true">首页</span>
            </a>
        </li>

        <li class="disabled">
            <a aria-label="Previous">  <!-- 记得把href去掉，要不然报错 -->
                <span aria-hidden="true">上一页</span>
            </a>
        </li>
        {% endif %}


        {% for p in page.paginator.page_range_ext %}

        {% if p == page.number %}
        <li class="active"><a title='当前:{{ p }}'>{{ p }}</a></li>
        {% else %}
        <li><a href='?page={{ p }}' title='{{ p }}'>{{ p }}</a></li>
        {% endif %}

        {% endfor %}


        {% if page.has_next %}
        <li>
            <a href="?page={{ page.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">下一页</span>
            </a>
        </li>
        <li>
            <a href="?page={{ page.paginator.num_pages }}" aria-label="Previous">
                <span aria-hidden="true">末页(共{{ page.paginator.num_pages }}页)</span>
            </a>
        </li>
        {% else %}
        <li class="disabled">
            <a aria-label="Previous">  <!-- 记得把href去掉，要不然报错 -->
                <span aria-hidden="true">下一页</span>
            </a>
        </li>
        <li class="disabled">
            <a href="?page={{ page.paginator.num_pages }}" aria-label="Previous">
                <span aria-hidden="true">末页(共{{ page.paginator.num_pages }}页)</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
