<div class="pagination pull-right">

    {% if page.has_previous %}
        <a href="?page={{ page.previous_page_number }}"><span>&lt;&lt;</span></a>
    {% endif %}

    {% for p in page.paginator.page_range %}

        {% if p == page.number %}
            <a title='当前:{{ p }}'>{{ p }}</a>
        {% else %}
            <a href='?page={{ p }}' title='{{ p }}'>{{ p }}</a>
        {% endif %}


    {% endfor %}

        <!--
        <span class="current">
            Page {{ page.number }} of {{ page.paginator.num_pages }}.
        </span>
        -->



    {% if page.has_next %}
        <a href="?page={{ page.next_page_number }}"><span>&gt;&gt;</span></a> 
    {% endif %}
         
</div>