{% extends "./base-blog.html" %}

{% load staticfiles %}
{% load blog_tags %}

{% block title %}{{ post.title }}{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'blog/post.css' %}" />
    {{ comment_form.media }}
{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{% url 'home:index' %}">首页</a></li>
                <li><a href="{% url 'blog:index' %}">博客</a></li>
                <li class="active">{{ post.title|truncatechars:20|title }}</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="text-center title">{{ post.title|title }}</h1>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p class="text-right author">
                {{ post.publish|date:'Y-m-d H:i' }} By
                <a href="{{ post.author.get_absolute_url }}" target="_blank">
                <span class="label label-default">{{ post.author.username }}</span>
                    
                </a>
            </p>
            <hr />
            {% for i in post.tags.all %}
                <span class="label label-default">
                    <span class="glyphicon glyphicon-paperclip" aria-hidden="true">
                    </span>
                    {{ i }}
                </span>
            {% endfor %}
            <hr />
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <article>
                {{ post.body|markdown }}
            </article>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">                
            <section class="extra">
                <span class="label label-default">阅读（{{ post.views }}）</span>

                <button id="like" data-id="{{ post.id }}" class="btn" title="点赞">
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    点赞
                    <span id="like_count" class="badge">{{ post.likes }}</span>
                </button>

                <button id="collect" data-id="{{ post.id }}" data-action="{% if request.user.collections in post.collector.all %}cancel{% else %}collect{% endif %}" class="btn" title="收藏">
                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                    <span id="collect-text">
                    {% if request.user.collections in post.collector.all %}
                        取消收藏
                    {% else %}
                        收藏
                    {% endif %}
                    </span>
                    <span id="collect-count" class="badge">{{ post.collector.count }}</span>
                </button>

                {% with comments.count as total_comments %}
                <button class="btn" id='comments'>
                    评论<span class="badge">{{ total_comments }}</span>
                </button>
                {% endwith %}

                <a href="{%  url 'blog:post_share' post.id %}" target="_blank" id='share'>
                    <button class="btn" id='comments'>
                        分享
                    </button>
                </a>
            </section>
        </div>     
    </div>
    
    
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 ">
            <section id="comments">
                {% for comment in comments %}
                <div class="media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img class="media-object img-thumbnail" src="{{ comment.name.profile.photo.url }}" alt="{{ comment.name.profile.user.username }}">
                            <p class="text-center">{{ comment.name.username }}</p>
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            {{ forloop.counter }}楼
                            <small>{{ comment.created|date:'Y-m-d H:i' }}</small>
                        </h4>
                        <p>
                            {{ comment.body|markdown|linebreaks }}
                        </p>
                    </div>
                </div>
            

            {% empty %}
            <!--
            没有评论
             -->
            {% endfor %}
            <!--
            <p>
                第 {{ forloop.counter }} 楼 by {{ comment.name }}
                {{ comment.created }}
            </p>

            <p>
                {{ comment.body|linebreaks }}
            </p>
            -->
            
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <section class="add-comment">
                <h1>添加评论</h1>
                <form action="." method="post" class="" role="form">
                    {% csrf_token %}

                    <!--
                    {{ comment_form }}
                    -->
                    {{ comment_form.errors }}
                    <div class="form-group">
                        {{ comment_form.body }}
                    </div>

                    <div class="row">
                        <div class="col-sm-1 col-sm-offset-4">
                            <button type="submit" class="btn btn-success btn-lg">评论</button>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>

</div>

{% endblock %}


{% block extra_script %}
    {{ block.super }}
    <script>
        $.ajaxSetup({
            //data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
            headers: {"X-CSRFToken": '{{ csrf_token }}'}
        });
    </script>
    
    <script src="{% static 'blog/post.js' %}"></script>
{% endblock %}