{% extends "base.html" %}

{% load staticfiles %}
{% load blog_tags %}

{% block title %}{{ post.title }}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'blog/post.css' %}" />
{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{% url 'home:index' %}">首页</a></li>
                <li><a href="{% url 'blog:index' %}">博客</a></li>
                <li class="active">{{ post.title }}</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="text-center">{{ post.title }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p class="text-right author">
                <span class="glyphicon glyphicon-time"></span>
                {{ post.publish|date:'Y-m-d H:i' }} By
                <a href="{% url 'accounts:user' post.author.username %}" target="_blank">
                    {{ post.author.username }}
                </a>
            </p>
            <hr />
                {% for i in post.tags.all %}
                <span class="label label-default">
                    <span class="glyphicon glyphicon-paperclip" aria-hidden="true">
                        
                    </span>
                    {{ i }}
                </span>
                {% endfor %}
            <hr />
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <article>
                {{ post.body|markdown }}
            </article>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
        <p class="text-right">
            <button class="btn" type="button" title="阅读">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                <span class="badge">{{ post.views }}</span>
            </button>

            <button id="likes" data-postid="{{ post.id }}" class="btn" type="button" title="点赞">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                <span id="like_count" class="badge">{{ post.likes }}</span>
                
            </button>

            <button class="btn" type="button" title="收藏">
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                <span class="badge">？</span>
            </button>

            {% with comments.count as total_comments %}
            <button class="btn" type="button">
                <!--
                    {{ total_comments }} comment{{ total_comments|pluralize }}
                -->
                评论<span class="badge">{{ total_comments }}</span>
            </button>
            {% endwith %}

            <a href="{%  url 'blog:post_share' post.id %}" target="_blank">
                <button type="button" class="btn">
                    <span class="glyphicon glyphicon-envelope"></span>
                    分享
                </button>
            </a>
        </p>
        </div>     
    </div>
    
    
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 ">
            {% for comment in comments %}
            <div class="comment">
                <div class="media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img class="media-object img-thumbnail" src="{{ comment.name.profile.photo.url }}" alt="XXX" width="50px" height="50px">
                            <p class="text-center">{{ comment.name.username }}</p>
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            第 {{ forloop.counter }}楼
                            <small>{{ comment.created|date:'Y-m-d H:i' }}</small>
                        </h4>
                        <p>
                            {{ comment.body|linebreaks }}
                        </p>
                    </div>
                <hr />
                </div>
            </div>

            {% empty %}
            <!--
            没有评论
             -->
            {% endfor %}
            <!--
            <p>
                第 {{ forloop.counter }} 楼 by {{ comment.name }}
                {{ comment.created }}
            </p>

            <p>
                {{ comment.body|linebreaks }}
            </p>
            -->
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h4>添加评论</h4>
            <form action="." method="post" class="form-horizonta" role="form">
                {% csrf_token %}
                {% for field in comment_form %}
                <div class="form-group">
            
                    {{ field.errors }}
                    <label for="{{ field.id_for_label }}" class="col-sm-1 control-label">
                        评论
                    </label>
                    <div class="col-sm-11">
                        {{ field }}
                    </div>
                                 
                </div>
                {% endfor %}
                <div class="col-sm-1 col-sm-offset-1">
                    <button type="submit" class="btn btn-success btn-lg">评论</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}


{% block extra_script %}
    <script>
        $.ajaxSetup({
            //data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
            headers: {"X-CSRFToken": '{{ csrf_token }}'}
        });
    </script>
    
    <script src="{% static 'post.js' %}"></script>
{% endblock %}