body {
	background: #CAB1AA url(11.jpg) no-repeat 50% 50%;
	background-size: cover;
	background-attachment: fixed; 
}

.jumu {
	padding-top: 30px;
  	padding-bottom: 30px;
  	margin-bottom: 30px;
	height: 200px;
	background: #2C3037 url(bg-img.jpg) no-repeat 80% 80%;
}

/*
.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
}
*/
section.profile {
	margin-top: 30px;
	font-size: 1.5em;
	color: rgba(196,146,3,0.9);
}

.profile img {
	width: 5em;
	height: 5em;
}

.profile ul,
 .profile li {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

.under-profile {
	margin-top: 30px;
}

section.nav-under-profile ul li {
	font-size: 1em;
}

.follow-block {
	border: 1px solid #fff;
	margin-top: 30px;
	font-size: 1.5em;
	color: #fff;
}