body {
	background: transparent url(8.jpg) no-repeat 50% 50%;
	background-size: cover;
	background-attachment: fixed; 
	opacity: 1;
}

ul.nav.nav-pills.nav-stacked {
	border: 1px solid rgba(32,32,32,1);
	box-shadow: 8px 8px 10px rgba(32,32,32,0.5);
}