{% extends "base.html" %}

{% block title %}注册{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3 col-lg-3 col-md-offset-9 col-lg-offset-9">
            <div class="well well-lg">
                <h3 class="text-center">用户注册</h3>
                <form method="post" class="form-horizonta" role="form">
                    {% csrf_token %}

                    {% for field in user_form %}
                    <div class="form-group">
                        {{ field.errors }}
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                    {% endfor %}

                    <button type="submit">注册</button>
                	
                </form>     
            </div>
        </div>
    </div>
</div>
{% endblock %}