/*将导航条设置成透明，为了以后设置背景颜色准备
如果去掉navbar-default的话，相应使布局受到影响
*/
.navbar {
	background-color: transparent;
}

.navbar-brand img {
	width: 1em;
	height: auto;
}


.navbar-brand span {
	font-size: 4rem;
	color: #cc9900;
}


ul.nav {
	font-size: 2.3rem;
}

ul.dropdown-menu {
	font-size: 2rem;
}

.main {
	margin-top: 60px;
}

.footer {

	background: rgb(248, 249, 251) url(footer.jpg) no-repeat 50% 50%;
	background-size: cover;

	margin: 100px -15px 0 -15px;
	font-size: 2em;
	line-height: 1.5em;
}
