<!DOCTYPE html>
{% load staticfiles %}
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="醉心客，博客，文章，论坛">
    <meta name="description" content="醉心客的个人网站">
    <meta name="author" content="醉心客">

    <title>{% block title %}BASE{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'img/fav.ico' %}" type="image/x-icon" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />

    <link rel="stylesheet" href="{% static 'base/base.css' %}" />

    {% block extra_head %}{% endblock %}

    <!--[if lt IE 9]>
        <script src="{% static 'html5shiv.js' %}"></script>
    <![endif]-->

    <!--[if lt IE 7]>
        <div style=' clear: both; text-align:center; position: relative;'>
            <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/upgrade.jpg" border="0"  alt="您的浏览器版本低于IE7，为不影响您的体检，建议升级。" />
            </a>
        </div>
    <![endif]-->

   
</head>

<body>
<header rolw="banner">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home:index' %}">
                    <!--
                    <img alt="Brand" src="{% static 'img/logo.jpg' %}">
                    -->
                    <strong>
                        醉心客
                    </strong>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'blog:index' %}">博客</a></li>
                    <li><a href="#">论坛</a></li>
                    <li><a href="{% url 'images:index' %}">图库</a></li>
                    <li><a href="#">商城</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">关于 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">关于</a></li>
                            <li><a href="#">佛祖</a></li>
                            <li><a href="#">联系</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">简介</a></li>
                            <li role="separator" class="divider"></li>
                        </ul>
                    </li>
                </ul>

                <!--Search Column
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>-->

                <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    <!--
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-envelope"></span>
                            站内信
                        </a>
                    </li>
                    -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" id="portrait" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        
                            <img src="{{ request.user.profile.photo.url }}" class="" alt="头像">
                            {{ request.user.username }} 
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'accounts:home' %}">我的主页</a></li>
                            
                            <li><a href="{% url 'accounts:profile' %}">账户管理</a></li>
                            <li><a href="#">收藏夹</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'accounts:logout' %}">安全退出</a></li>
                        </ul>
                    </li>
                {% else %}
                    
                    <li>
                        <a href="{% url 'accounts:login' %}">
                            <span class="glyphicon glyphicon-home"></span>
                            登录
                        </a>
                    </li>

                {% endif %}
                </ul>
            
            </div><!-- /.navbar-collapse -->   
        </div>
    </nav>
</header>


<main class="main" role="main">
    {% block content %} {% endblock %}
</main>


<footer class="footer" role="contentinfo">
    <div class="container-fluid">
	    <div class="row">
            <section>
	           <div class="col-md-6 col-sm-6 col-xs-6">
                    <h1>友情链接</h1>
		            <ul>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                    </ul>
		      </div>
            </section>

		    <section>
		        <div class="col-md-6 col-sm-6 col-xs-6">
			        <h1>友情链接</h1>
                    <ul>
                        <li><a href="http://www.baidu.com" target="_blank">Baidu</a></li>
                        <li><a href="http://www.qq.com" target="_blank">QQ</a></li>
                        <li><a href="http://www.taobao.com" target="_blank">Taobao</li>
                    </ul>
		        </div>
            </section>
	   </div>
    </div>
</footer>



    <script src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'base/base.js' %}"></script>

    {% block extra_script %}{% endblock %}
</body>
</html>
