{% extends "./base-shop.html" %}

{% load staticfiles %}

{% block title %}醉心客 - 商城 - 首页{% endblock %}

{% block page_content %}
<div class="row">
    {% for product in last_products %}
    <div class="col-md-4 col-lg-4 product">
        <figure>
            <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'shop/no_image.png' %}{% endif %}">
                <figcaption>
                    {{ product.name }} <br />
                    $ {{ product.price }}
                </figcaption>
            </a>
        </figure>
    </div>
    {% endfor %}
</div>


{% endblock %}