{% extends "./base-shop.html" %}

{% load staticfiles %}

{% block title %}
    {% if category %}
        {{ category.name }}
    {% else %}
        商品
    {% endif %}
{% endblock %}

{% block page_content %}
<div class="row">
    <h1>{{ category }}</h1>
    {% for product in products %}
    <div class="col-md-4 col-lg-4 product">
        <figure>
            <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'shop/no_image.png' %}{% endif %}">
                <figcaption>
                    {{ product.name }} <br />
                    $ {{ product.price }}
                </figcaption>
            </a>
        </figure>
    </div>
    {% endfor %}
</div>
{% endblock %}